.steps {
  margin: 20px 0 50px !important;
}

.steps-content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.header-logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
}

.content-onboarding {
  padding: 10px;
}

.footer {
  width: 100%;
  padding: 15px;
  text-align: center;
}

.btn-steps {
  width: 100%;
  max-width: 700px;
  height: 35px;
}

.ant-layout {
  background: transparent; //#f0f2f5
}

@media only screen and (max-width: 575px) {
  .steps-cursors {
    max-width: none;
    display: flex !important;
  }
}
