.login-tabs-panel {
  background: #ffffff;
  box-sizing: border-box;
  min-width: 450px;
  min-height: 380px;
  padding: 30px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #808080;
}

.login-form-forgot {
  float: right;
}

.login-icon-input > svg {
    background: transparent;
    color: rgba(255, 81, 0, 0.5);
    margin-right: 5px;
  }
  
  .logo {
    max-width: 200px;
  }
  
  @media only screen and (max-width: 550px) {
    .login-tabs-panel {
      width: calc(100% - 20px) !important;
      min-width: auto;
      margin-left: 10px;
  }
}
