.page-header {
  position: fixed !important;
  background: white !important;
  margin: 0px !important;
  padding: 0 15px !important;
  box-shadow: 0px 0px 4px 0px #001529 !important;
  z-index: 100 !important;
  transition: all 0.2s;
}

.page-header-curto {
  width: calc(100% - 200px) !important;
}

.page-header-longo {
  width: calc(100% - 80px) !important;
}

.page-header-content {
  margin: 0 20px;
}

.footer-page-header {
  height: 45px;
  background: transparent !important;
}

.back-top {
  bottom: -10px;
  right: -5px;
}
